<% const d = new Date(); let year = d.getFullYear(); %>
<p>&copy; <%= year %> CSE Motors. All rights reserved.</p>
<p>
  <a href="/privacy">Privacy Policy</a> | 
  <a href="/terms">Terms of Service</a> | 
  <a href="/500">Test 500 Error</a>
</p>
