<header>
   <div class="nav-top-right">
    <a href="/my-account">MY ACCOUNT</a>
  </div>
  <div class="header-content">
    <h1>CSE Motors</h1>
  </div>
</header>


<!-- The header is an HTML semantic element meant to describe the structure of the content. Specifically, this is the header of the entire view, meant to identify the site as a whole and include, 
 in this case, a tool that will allow the user to access account tools. -->