<h1>Inventory Management</h1>

<% if (typeof messages !== 'undefined' && messages.length > 0) { %>
  <div class="flash-message">
    <% messages.forEach(msg => { %>
      <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>

<p>Welcome to the Inventory Management page.</p>

<a href="/inv/add-classification">Add New Classification</a> |
<a href="/inv/add-inventory">Add New Inventory</a>
